.border {
  border:1px solid!important
}

.border-0 {
  border:0!important
}

.border-top {
  border-top:1px solid!important
}

.border-bottom {
  border-bottom:1px solid!important
}

.border-left {
  border-left:1px solid!important
}

.border-right {
  border-right:1px solid!important
}

.topbar {
  border-top:6px solid!important
}

.bottombar {
  border-bottom:6px solid!important
}

.leftbar {
  border-left:6px solid!important
}

.rightbar {
  border-right:6px solid!important
}

.round-small {
  border-radius:2px!important
}

.round,
.round-medium {
  border-radius:4px!important
}

.round-large {
  border-radius:8px!important
}

.round-xlarge {
  border-radius:16px!important
}

.round-xxlarge {
  border-radius:32px!important
}

.round-jumbo {
  border-radius:64px!important
}
